/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html *  {
  background: RGB(0,81,44);
}
.top {
  text-align: center;
}
.players {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

img {
  max-height: 250px;
}

.active {
  /* border: red solid 2px; */
  height: 254px;
  width: 375px;
  text-align: center;
  margin: 0 auto;
}
img.war {
  margin-left: -140px;
}
.war {
  display:none;
}
#p1InHand, #p2InHand {
  /* border: solid red 2px; */
  padding-left: 40px;
  height: 150px;
  width: 450px;
  text-align: center;
  margin: 0 auto;
  color: RGB(0,81,44);
}
img.inHand {
  width: 50px;
  margin-left: -40px;
}
.player1, .player2 {
  /* border: blue solid 2px; */
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
button {
  background-color: white;
}

.cardback {
  width: 20%;
}
section > h3 {
  color: crimson;
  display: none;
}

#getJoke {
  float:right;
}
#joke, #punchline {
  text-align: center;
  font-size: 2rem;
}
#p1Win {
  float: left;
}

#p2Win {
  float: right;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
